<div class="text-center bg-image rounded-3" style="min-height: 25vh;">
  <div class="mask" style="height: 100%;">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center mt-4">
          <img src="../../../assets/img/icon.png" alt="Icon" class="logo"/> &nbsp;
          <h1 class="mb-4" style="color: black; font-size: 50px;">Bienvenido a TaskList!</h1>
        </div>
        <h3 class="mt-4" style="color: black; font-size: 20px;">Crea, Organiza y lleva un control sobre tus tareas diarias. </h3>
        <a class="btn btn-outline-dark btn-lg mt-2" href="/Actual" role="button">Empieza</a>
      </div>
    </div>
  </div>
</div>
<div class="container text-center my-4">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <img src="../../../assets/img/login.png" class="card-img-top" alt="Login" />
        <div class="card-body">
          <h4 class="card-title">Login</h4>
          <p class="card-text">
            Inicio de sesión seguro y que falicitará personalizar tu tareas.
          </p>
          <a href="/Login" class="btn btn-outline-primary"><i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <img src="../../../assets/img/historico.png" class="card-img-top"
          alt="Tareas" />
        <div class="card-body">
          <h4 class="card-title">Tareas</h4>
          <p class="card-text">
            Visualiza todas tus tareas registradas de forma rápida y con gráficos descriptivos.
          </p>
          <a href="/Historial" class="btn btn-outline-primary"><i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <img src="../../../assets/img/formulario.png" class="card-img-top"
          alt="RegistroTas" />
        <div class="card-body">
          <h4 class="card-title">Registro</h4>
          <p class="card-text">
            Registra y controla tus tareas de forma rápida y eficiente mediante estados.
          </p>
          <a href="/Actual" class="btn btn-outline-primary"><i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>