<footer class="text-center" style="background-color: rgba(212, 210, 210, 0.377);">
    <div class="container p-2 pb-0">
        <section class="mb-2">
            <!-- Google -->
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #dd4b39;"
                href="mailto:jeffrydanielnu@gmail.com" role="button"><i class="fab fa-google"></i></a>

            <!-- Linkedin -->
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #0082ca;"
                href="https://www.linkedin.com/in/jeffry-nure%C3%B1a-rodriguez-51b507259/" role="button" target="_blank"><i
                    class="fab fa-linkedin-in"></i></a>
            <!-- Github -->
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #333333;"
                href="https://github.com/J3ffry13" role="button"><i class="fab fa-github" target="_blank"></i></a>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(170, 170, 170, 0.521);">
        © {{year}} Copyright:
        <a class="text-body" href="">M&#64;ciso13</a>
    </div>
</footer>