<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="../../../assets/img/icon.png" class="logo" alt="logo" />
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">Inicio</a></li>
      <li><a href="/Historial" class="nav-link px-2 link-dark">Historial</a></li>
      <li><a href="/Actual" class="nav-link px-2 link-dark">Actual</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-danger me-2" (click)="logOut()">LogOut</button>   
    </div>
  </header>